/* Bootstrap Overwrites */
/* aligns all content to the middle of the containing section */
section.row.flex {
  display: flex;
  align-items: center;
  align-content: center;
}

.container-fluid nav.navbar {
  background-color: rgba(0, 0, 0, 0.6);
}

nav.navbar.floatingNav {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

section {
  min-height: 80vh;
}

/* X Bootstrap Overwrites X */
/* welcomeMessage */
section#welcomeMessage {
  background: center / cover url(assets/header-image.jpg) no-repeat;
  color: #fff;
  position: relative;
}

#welcomeMessage .contact-form {
  color: initial;
  background: #f5f5f5;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media screen and (orientation:landscape) {
  #welcomeMessage .contact-form {
    /*makes it break the grid*/
    position: absolute;
    right: 5rem;
    bottom: -5rem;
  }
}

@media screen and (orientation:portrait) {
  #welcomeMessage .contact-form {
    /*makes it break the grid*/
    position: initial ;
  }
}

.form-row.description {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1.3rem;
  opacity: 0.5;
}

.form-row.description hr {
  border-top: 1px solid rgb(206, 212, 218);
  flex-grow: 1;
  align-self: center;
  margin: 0 auto;
  /*overwrites default*/
}

/* X welcomeMessage X  */
/* aboutUs */
section#aboutUs {
  padding: 10vh 2.5vw;
}

#aboutUs .copy {
  font-size: 1.3rem;
}

/* Vertical centering friendly way to do a hero image, also makes it a bit harder for people to drag images off your site*/
.hero .image-holder {
  min-height: 30em;
  width: 30em;
  margin: 0 auto;
  background-size: cover;
  background-position: center
}

/* X aboutUs X */
/* servicesOffered */
section#servicesOffered {
  text-align: center;
}

#servicesOffered .cards .card {
  padding: 1.5rem;
  background: #f5f5f5;
}

#servicesOffered .cards>div {
  padding: 15px;
}

#servicesOffered .card i {
  font-size: 3rem;
}

/* X ServicesOffered X */
/* staff */
section#staff {
  text-align: center;
}

/* X staff X */
/* commitment */
section#commitment {
  background-color: #f5f5f5;
}

.hero .contain {
  background-size: contain;
  background-repeat: no-repeat;
}

/* X commitment X  */
/* footer */
footer.page-footer {
  background: #424242;
  color: #fff;
  margin: 0 -15px;
  padding: 15px 15px 0;
}

footer.page-footer a {
  color: #b3e5fc
}

footer.page-footer a:hover {
  color: #4fc3f7
}

.footer-copyright.text-center.py-3 {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 -15px;
}

/* X footer X  */
